<h1> madlib <%= @outcome %> </h1>
<p>story: As the battle raged on, a(n) <%= @adjective %> villain emerged from the shadows, threatening to <%= @verb %> the entire world. Luffy and Naruto, undeterred, stood side by side, ready to <%= @verb %> this <%= @adjective %> foe. With a flurry of <%= @noun %> and a burst of <%= @adjective %> energy, they managed to <%= @verb %> the villain and save the day. </p>
